.build/
*.dSYM/
__pycache__/
*.pyc
venv/
models/
*.wav
*.mp3
neural-amp-modeler/
tonetwist-afx-dataset/
*.mlpackage/
*.onnx
*.pth
*.app/
.DS_Store
ToneReplicatorApp/.build/arm64-apple-macosx/
ToneReplicatorApp/.build/debug/
ToneReplicatorApp/.build/release/ToneReplicatorApp.app/
